


.p_action_area{
	/*min-height: 89vh;*/
	/*height: 89vh;*/
	/*max-height: 89vh;*/
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
	padding: 2px;
	display: inline-block;
	width: 240px;
	min-width: 240px;
	max-width: 240px;
	background: rgba(236, 240, 241,1.0);
	margin-left: 10px;
}

.p_action_area::-webkit-scrollbar{
	width: 0;
}

.p_option_text{
	margin: 0;
	color: white;
	padding: 10px 10px 5px 10px;
	font-size: 18px;
	cursor: pointer;
}

.p_option_text i{
	font-size: 15px;
}

.rotate_arrow{
	transition: 0.3s ease-in-out;
	font-size: 16px;
}

.sidebar_option_list{
	border: solid #34495e 2px;
	border-radius: 4px;
	padding: 1px;
	margin-bottom: 10px;
	background: rgba(22, 160, 133,1.0);
}

.p_option_content{
	padding: 3px;
	/*display: none;*/
	margin: 10px 0;
}

p.post_now_status{
	margin-bottom: 15px;
	margin-top: 0;
	color: white;
}

span.post_now_status{
	color: white;
	padding: 3px 8px;
	background: rgba(52, 152, 219,1.0);
	border: solid white 1px;
	border-radius: 4px;
}

.p_status_block{
	margin-top: 10px;
}

.p_submit_btn_block{
	margin: 20px 0 10px 0;
	padding-right: 4px;
	text-align: center;
}

.p_submit_btn{
	background: #5f27cd;
	font-size: 18px;
	color: white;
	outline: none;
	border: none;
	padding: 4px 20px;
}









.p_opt_cont_block{
	color: white;
}

#p_add_cat_block{
	display: none;
}

.p_opt_sub_title{
	margin: 0;
	padding: 0 0 5px 18px;
	font-size: 18px;
}

.p_category_list_block{
	padding: 4px 0;
}

.p_status_select{
	min-width: 120px;
	font-size: 16px;
	border-radius: 4px;
}

.p_status_option{

}

.add_cat_btn_block{
	margin-top: 20px;
	line-height: 30px;
}

.add_cat_btn{
	color: white;
	padding: 3px 8px;
	background: rgba(52, 152, 219,1.0);
	border: solid white 1px;
	border-radius: 4px;
}

.add_cat_btn_1{
	color: #f1c40f;
	cursor: pointer;
}

.add_cat_input{
	min-width: 218px;
	max-width: 218px;
	padding: 2px 3px;
	outline: none;
	border: none;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.add_cat_submit_block{
	text-align: right;
	padding-right: 15px;
}

input#p_sharing_checkbox{
	transform: scale(1.3);
}







/* Post Tags Css */

.p_tags_text{
	margin: 0;
	padding: 0 0 10px 10px;
}

.p_tags_input{
	padding: 5px;
	border-radius: 5px;
	outline: none;
	border: none;'
	display: block;
	min-width: 218px;
	letter-spacing: 1px;
}

.tags_list_block{
	margin: 8px 0;
	padding: 5px 0;
	display: contents;
}

.p_tag{
	display: inline-block;
	width: initial !important;
	background: rgba(30, 39, 46,0.5);
	color: black;
	padding: 1px 3px 1px 3px;
	line-height: 22px;
	border-radius: 4px;
	margin: 4px 2px 0px 2px;
	cursor: pointer;
	background: #dfe6e9;
	word-wrap: break-word;
}

/*.p_tag:nth-child(n+1){
	background: #eb4d4b;
}

.p_tag:nth-child(2n+1){
	background: #2980b9;
}*/










/* Feature Image CSS */

#feature_img_image_block{
	margin: 5px 0;
	display: none;
}

#feature_image_shower{
	width: 100%;
}

.remove_image_btn{
	padding: 4px 15px;
	background: #2d3436;
	border: none;
	line-height: 30px;
	border-radius: 5px;
	display: none;
	cursor: pointer;
	letter-spacing: 2px;
}




/* Global Css Properties */

.clr_wh{
	color: white;
}

.fs_16{
	font-size: 16px;
}

.fs_18{
	font-size: 18px;
}

.clr_lyellow{
	color: rgba(255, 218, 121,1.0);
}

.margin_tb_10{
	margin: 10px 0;
}